################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/craftsman/config
/.vs
/craftsman/bin
/craftsman/obj/Debug
